body {
    background-color: rgb(0, 0, 0);
    height: 97vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* settings --------------------------------------------- */
#settings {
    min-height: 200px;
    width: 300px;
    background-color: rgb(45, 45, 45);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    color: rgb(213, 213, 213);
}

#settings>div {
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
}

#score {
    border-bottom: 1px solid rgb(109, 109, 109);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#rate {
    border-bottom: 1px solid rgb(109, 109, 109);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* --- */
#fromTo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sumOfWords {
    text-align: center;
    min-width: 40px;
    font-size: 15px;
}

#scoreSelector_from,
#scoreSelector_to,
#rateSelector {
    background-color: rgb(45, 45, 45);
    color: rgb(213, 213, 213);
    border: 1px solid rgb(171, 171, 171);
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    margin: 0 7px;
    font-family: 'Montserrat', sans-serif;
}

#downloadBtn {
    background-color: transparent;
    color: rgb(213, 213, 213);
    border-radius: 10px;
    border: 2px solid rgb(171, 171, 171);
    padding: 7px 9px;
    margin-top: 1px;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#downloadBtn:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
}

/* testScore --------------------------------------------- */
#testScore {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    width: 200px;
    background-color: rgb(45, 45, 45);
    border-radius: 9px;
    font-size: 20px;
    margin: 10px;
    border-top: 3px solid rgb(114, 114, 114);
    border-bottom: 3px solid rgb(114, 114, 114);
}

.fa-arrow-down,
#down {
    color: red;
}

.fa-arrow-up, #up {
    color: rgb(32, 220, 32);
}

#down,
#up {
    font-weight: bold;
}

.numWords {
    color: rgb(213, 213, 213);
    font-weight: bold;
    width: 100px;
}

td {
    text-align: center;
}

/* cards ------------------------------------- */
#cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 7px;
    gap: 7px;
}

/* card --- */
.scene {
    width: 280px;
    height: 500px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    color: rgb(213, 213, 213);
}

.card.is-flipped {
    transform: rotateY(180deg);
}

/* front & back --- */
.front,
.back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.fa-arrow-rotate-left,
.scoreBtn {
    width: 30px;
    font-size: 20px;
    line-height: 15px;
    padding: 8px 13px;
    background-color: rgb(44, 44, 44);
    border-bottom: 3px solid rgb(114, 114, 114);
    border-right: 3px solid rgb(114, 114, 114);
    border-left: 3px solid rgb(114, 114, 114);
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

/* front --- */
.border {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
}

.number {
    border-bottom: 1px solid rgb(128, 128, 128);
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

.frontWord {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* back --- */
.back {
    transform: rotateY(180deg);
}

.answer {
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* 1 */
.answer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backWord,
.wordTranslation {
    height: 40px;
    letter-spacing: 1px;
}

.sentence,
.sentenceTranslation {
    flex-grow: 1;
    padding: 10px;
}

.backWord,
.wordTranslation,
.sentence,
.sentenceTranslation {
    border-bottom: 1px solid rgb(128, 128, 128);
    border-radius: 20px;
}

.backWord,
.sentence {
    cursor: pointer;
}

/* 2 */
.img {
    height: 140px;
}

img {
    max-height: 130px;
    max-width: 280px;
    border-radius: 10px;
}

/* 3 */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.scoreBtn {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xBtn,
.wBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
    width: 50px;
    height: 27px;
}

.xBtn {
    font-size: 14px;
    color: rgb(175, 71, 71);
    border: 2px solid rgb(175, 71, 71);
    /* color: red; */
    /* border: 1px solid transparent; */
}

.wBtn {
    font-size: 17px;
    color: rgb(38, 161, 38);
    border: 2px solid rgb(38, 161, 38);
    /* color: rgb(32, 220, 32); */
    /* border: 1px solid transparent; */
}

.xBtn:hover {
    color: red;
    border: 2px solid red;
    cursor: pointer;
}

.wBtn:hover {
    color: rgb(32, 220, 32);
    border: 2px solid rgb(32, 220, 32);
    cursor: pointer;
}

/* פס גלילה ------------------------------------- */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgb(120, 120, 120);
    border-radius: 10px;
    /* border: 2px solid rgb(34, 34, 34); */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(205, 205, 205);
}

/* The design of the navigation bar */
header {
    height: 5vh;
    display: flex;
    gap: 15px;
    border-radius: 20px;
}

nav {
    border: 2px solid rgb(155, 155, 155);
    border-radius: 19px;
    background-color: rgb(70, 70, 70);
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 8px;

    flex-grow: 1;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: rgb(255, 102, 0);
}